<div class="container mt-6 p-6 mx-auto">
  <h1 class="text-2xl text-teal-700 text-center">Proizvodi</h1>
  <% @products.each do |product|%>
    <%= render 'product', product: product %>
  <% end %>
</div>
