<div class="box flex border-gray-200 border-2 mb-1 h-16 items-center px-4 justify-between">
  <span class="text-2xl"><%= line_item.product.name %></span>
  <span><%= line_item.quantity %> x <%= line_item.product.price %></span>
</div>
